<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="connectionStr" connectionString="Data Source=(localdb)\MSSQLLOCALDB;AttachDbFileName=|DataDirectory|\Labordb.mdf;Initial Catalog=Labordb;Trusted_Connection=True" />
    <add name="Bulbul_1249211_Ex_06.Properties.Settings.LabordbConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Labordb.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>